.window-frame {
  background-color: #212121;
  border-radius: 5px;
  padding: .3rem;
  transition: scale 0.3s;
}

.window-header {
  margin: 0;
  padding: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.header-bottom {
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  p {
    padding: 0.1rem .5rem;
    font-size: .8rem;
    margin: 0;
    color: rgba(128, 128, 128, 0.5);
  }
}

.window-tabs {
  display: flex;
  width: calc(100% - 3rem);
  overflow: scroll hidden;
  margin: 0 3rem 0 0;
  padding: 0;
  li {
    list-style: none;
  }
  cursor: pointer;
  &::-webkit-scrollbar {
    display: none;
  }
}

.window-action {
  position: relative;
  padding: 0;
  margin: 0 .2rem 0 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff605c;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.1s ease;
  &:hover {
    opacity: .6;
  }
  &:active {
    opacity: .2;
  }
}

.minimize {
  background-color: #00ca4e;
}

.maximize {
  background-color: #ffbd44;
}

.window-tab {
  user-select: none;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 1rem;
  line-height: 2rem;
  color: white;
  font-weight: 400;
  white-space: nowrap;
}

.active {
  border-bottom: 1px #1da1f2 solid;
  background-color: #424242;
}

.cover {
  color: white;
  font-weight: 100;
  width: 100%;
  object-fit: cover;
}

.grabbing {
  cursor: grabbing !important;
}

.close {
  scale: 0;
}

@media screen and (max-width: 768px) {
  .header-bottom {
    display: none;
  }
}