.wallpaper {
  --s: 60px; /* control the size */
  
  --_g: #0000 83%,#b09f79 85% 99%,#0000 101%;
  background:
    radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
    radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
    radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
    radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
    #476074;
  background-size: calc(2*var(--s)) calc(2*var(--s));
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}

.show {
  transition: opacity 1s, translate 1s ease;
  transition-delay: var(--delay, 0s);
  opacity: 1;
}

.hide {
  opacity: 0;
  translate: -100%;
}