.badge {
  border-radius: 20px;
  padding: .2rem .5rem;
  background-color: white;
  color: var(--dark-color);
  box-shadow: 
    3px 3px 5px rgba(0, 0, 0, 0.2),
    -3px 3px 5px rgba(0, 0, 0, 0.2);
}