.technologies {
  display: flex;
  flex-wrap: wrap;
  & > * {
    justify-content: center;
    flex: 1 1 20%;
    text-align: center;
  }
}

.icon {
  z-index: 0;
  display: flex;
  line-height: 3rem;
  padding: .5rem;
  height: 3rem;
  font-size: 3rem;
  border-radius: 10px;
  transition: all 0.5s ease;
  svg {
    color: rgb(var(--color));
  }
  span {
    display: flex;
    font-size: 1rem;
    width: 0px;
    overflow: hidden;
    color: rgb(var(--color));
  }

  &:hover {
    background-color: rgba(var(--color), .3);
    span {
      transition: all 0.5s ease;
      width: auto;
      margin-left: 0.5rem;
    }
  }
}

.programming-icon {
  font-size: 3rem;
  color: rgb(var(--color));
}

@media screen and (max-width: 768px) {
  .icon {
    flex: 1 1 25%;
  }
}