.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  transition: translate .7s ease-in-out, opacity 1s ease-in-out;
  translate: 0%;
  opacity: 1;
}

.hide {
  translate: -100%;
  opacity: 0;
}

.section-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden auto;
  perspective: 1500px;
  margin: 0 2rem;
  padding: 4.5rem 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

.profile-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  perspective: 1500px;
  gap: 2rem;
  margin: 2rem 0;
}

.profile-data {
  padding: 2rem;
}

.skills {
  margin: 0 !important;
  margin-bottom: 2rem !important;
}

.profile-article {
  margin-bottom: 2rem;
  h2 {
    color: #6E5DD8;
  }

  hr {
    border-color: rgba(31, 39, 94, 0.2);
  }

  h4 {
    color: #1a85b7;
  }
}

@media screen and (max-width: 768px) {
  .section-wrapper {
    margin-top: 0;
    padding: 2.5rem 0;
  }
}

@media screen and (min-width: 1400px) {
  .skills.hide {
    background-color: red;
    translate: 100%;
  }
}