.background {
  padding-top: 4.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
  overflow-y: auto;
}

.contact-header {
  text-align: center;
  margin: 4rem;
  h2 {
    text-transform: uppercase;
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}

@mixin background-card {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 46, 120, 0.3);
}

.form-wrapper {
  // display: flex;
  // width: 50% !important;
  max-width: 500px;
  margin: 0 2rem;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 46, 120, 0.3);

  flex-direction: column;
  padding: 2rem 3rem;
  border-radius: 20px;
  // justify-content: center;
  // align-items: center;
  position: relative;

  header {
    width: 100%;
  }
  
  &::after {
    @include background-card();
    background-color: #ecf1f1;
  }

  &::before {
    @include background-card();
    background-color: rgba(0, 46, 120, 0.2);
  }
}

.show {
  &::after {
    transition: rotate .4s ease-in-out .3s;
    rotate: 10deg;
  }

  &::before {
    transition: rotate .4s ease-in-out .3s;
    rotate: 20deg;
  }
}

.form-input {
  width: 100%;
  font-size: 1rem;
  height: 1.5rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 46, 120, 0.3);
  padding: .2rem 0;
  outline: none;

  &::placeholder {
    color: rgba(0, 46, 120, 0.3);
  }

  &:focus {
    border-bottom: 1px solid rgba(31, 39, 94, .8);
  }
}

textarea {
  height: 4rem !important;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  color: #1F275E;
}

.form-submit {
  width: 100%;
  border: none;
  background-color: rgba(31, 39, 94, 0.5);
  font-size: 1rem;
  color: rgba(31, 39, 94, 0.8);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  &:hover {
    background-color: rgba(31, 39, 94, .8);
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .show {
    &::after {
      rotate: none;
    }
  
    &::before {
      rotate: none;
    }
  }
}

@media screen and (max-height: 768px) {
  .background {
    padding-top: 1rem;
  }
}