.background {
  padding-top: 4.5rem;
  height: calc(100vh - 4.5rem);
}

.content {
  margin: auto;
}

@media screen and (max-height: 768px) {
  .background {
    padding-top: 2.5rem;
    height: calc(100vh - 2.5rem);
  }
}