header {
  position: sticky;
  height: 0;
  z-index: 2;
  top: 0;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: filter 0.3s linear;

  &:hover {
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.3rem);
  $shadow: 0px 10px 15px rgba(0, 46, 120, 0.3);
  box-shadow: $shadow;
}

a {
  padding: 5px 5px;
  margin: 0;
  text-decoration: none;
  color: #1F275E;
  font-weight: 500;
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &:visited {
    color: #1F275E;
  }
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
  &:hover {
    background-color: rgba(31, 39, 94, .3);
  }
}

.desktop {
  display: block;
  a:hover {
    box-shadow: none;
    background-color: transparent;
  }
}

.mobile {
  display: none;
  button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  position: relative;
  gap: 1rem;
  padding: 0;
  margin: 0;
  line-height: 36px;
  list-style: none;
}

.hover-anchor {
  border-radius: 5px;
  position: absolute;
  width: var(--width-anchor);
  height: var(--height-anchor);
  background-color: rgba(31, 39, 94, .8);
  top: calc(2px + var(--y-position));
  left: var(--x-position);
  z-index: -1;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.active {
  color: white !important;
}

@media screen and (max-width: 768px) {
  nav {
    background-color: transparent;
    backdrop-filter: blur(0px);
    border-bottom: none;
    box-shadow: none;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    inset: 0;
    width: 50%;
    z-index: -1;
    height: 100vh;
    box-shadow: 10px 0 15px rgba(0, 46, 120, 0.3);
    background-color: #EBF3F3;
    padding-top: calc(.5rem + var(--header-height));
    gap: .5rem;

    &::before {
      content: '';
      position: absolute;
      top: var(--header-height);
      left: .5rem;
      width: calc(100% - 1rem);
      height: 2px;
      border-radius: 15px;
      background-color: rgba(31, 39, 94, .3);
    }

    li {
      margin: 0 .5rem;
      display: inline-flex;
    }

    a {
      font-weight: 500;
      width: 100%;
      border-radius: 5px;
      padding: 0 1rem;
      transition: color .3s ease, background-color .3s ease;
    }
    translate: -102%;
    transition: translate .3s ease;
  }

  .hover-anchor {
    left: 0;
    top: var(--y-position);
    transition: unset;
    transition: top 0.3s ease-in-out; 
  }

  .showMenu {
    translate: 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    button {
      color: #1F275E;
    }
  }
}

@media screen and (max-height: 768px) {
  nav {
    padding: .5rem 1rem;
  }
}

