header {
  position: sticky;
  height: 0;
  z-index: 2;
  top: 0;
}
h1 {
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: rgb(0, 0, 0, .3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

a {
  padding: 5px 5px;
  margin: 0;
  text-decoration: none;
  color: white;
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &:visited {
    color: white;
  }
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.desktop {
  display: block;
}

.mobile {
  display: none;
  button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  position: relative;
  gap: 1rem;
  padding: 0;
  margin: 0;
  line-height: 36px;
  list-style: none;
}

.hover-anchor {
  border-radius: 5px;
  position: absolute;
  width: var(--width-anchor);
  height: var(--height-anchor);
  background-color: rgba(0, 0, 0, .5);
  top: 2px;
  left: var(--x-position);
  z-index: -1;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

@media (width < 768px) {
  .hover-anchor {
    visibility: hidden;
  }
  .menu {
    flex-direction: column;
    position: fixed;
    inset: 0;
    width: 50%;
    background-color: white;
    z-index: -1;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
    padding-top: 5rem;
    gap: .5rem;
    li {
      padding: 0 .5rem;

      display: inline-flex;
    }
    a {
      width: 100%;
      border-radius: 5px;
      padding: 0 1rem;
      color: #212121;
      transition: color .3s ease, background-color .3s ease;
      
      &:hover {
        color: white;
        font-weight: 500;
        background-color: #6e5dd8;
      }
    }
    translate: -102%;
    transition: translate .3s ease;
  }
  .showMenu {
    translate: 0;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media (height < 768px) {
  nav {
    padding: .5rem 1rem;
  }
}

