@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scroll-behavior: smooth;
  background-color: #EBF3F3;
  color: #1F275E;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.3rem;
}

h1, h2 {
  color: #6E5DD8;
}

h4 {
  color: #1a85b7;
}

#app {
  height: 100vh;
  overflow: hidden scroll;
  scroll-snap-type: y mandatory ;
}


@media (width >= 768px) {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: .6rem;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(31, 39, 94, .8);
  }
}