

.profile {
  margin: 1rem;
  margin-top: .5rem;
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  background-image: radial-gradient(#ebf3f3, #212121);
}

h4, .bottom-hr {
  display: none;
}

.description {
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 0;
    border-radius: 50%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    padding: 0;
  }

  h4, .bottom-hr {
    display: block;
  }

  h2, .top-hr {
    display: none;
  }
}